#products-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
}


#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 7px grey;
    border-radius: 8px;
    border: 2px solid #0D9276;
    /* background-color: #FFFFFF; */
    /* color: white; */
}

#card img {
    height: 200px;
    width: 200px;
    transition: all 0.2s linear;
}

#card img:hover {

    transform: scale(1.1);
}

@media (max-width: 480px) {
    #card {
        width: 90%;
        margin: 10px auto 20px auto;
    }

    #card img {
        width: 100%;
        height: auto;
        max-width: 200px;
    }
}