#prouctDetails {

    display: flex;
    gap: 50px;
    /* border: 1px solid black; */
    margin: 40px 200px;
    padding: 20px;
}

#prouctDetails img {

    height: 250px;
    width: 250px;
    /* border: 1px solid black; */
    margin: 30px 0px;
}

#productInfo {

    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid black; */
    height: max-content;
    width: max-content;
    padding: 10px;
}

.btn button {

    background-color: #0D9276;
    color: black;
    padding: 7px;
    border-radius: 4px;
}

.btn button:hover {

    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #prouctDetails {
        flex-direction: column;
        margin: 20px;
        gap: 20px;
        align-items: center;
    }

    #prouctDetails img {
        margin: 0;
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    #productInfo {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}